{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base"
  ],
  "rules": {
    "no-console": "off",
    "eol-last": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}